.container {
    background-color:rgb(255, 255, 255);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input, textarea, select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #5cb85c;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #564cae;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_body {
    display: flex;
    align-items: center;
    width: 100%;
}
.logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    margin-right: 20px;
}
.navbar {
    flex-grow: 1;
}
.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}
.navbar ul li {
    display: inline;
}
.navbar a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 8px 12px;
    transition: background-color 0.3s;
}
.navbar a:hover {
    background-color: #575757;
    border-radius: 4px;
}

form{
    display: grid;
    padding: 0 300px;
}
h2{
    text-align: center;
}
